{% extends "base.html" %}

{% block content %}
  <div class="container my-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
   
      {% for blog in blogs %}
      <div class="col-md-4">
        <div class="card h-100">
          <img src="https://www.shutterstock.com/image-vector/spiderman-suit-icon-logo-super-260nw-2407844867.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <p class="card-text">{{blog.content|truncatewords:30}}</p>
            <a href="" class="btn btn-primary">Read More</a>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last updated: {{blog.updated}}</small>
          </div>
        </div>
      </div>
      {% endfor %}
     
    </div>
    </div>
   
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      {% if blogs.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{blogs.previous_page_number}}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}
      
      {% for i in blogs.paginator.page_range %}
        {% if blogs.number == i%}
          <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>

        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
      {% endfor %}

      {% if blogs.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{blogs.next_page_number}}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>

{% endblock content %}